w*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background:hsl(203, 89%, 53%);
}

#app {
  .content-editable-element {
    background-color: white;
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
    padding: 10px;
    width: 300px;
    min-height: 80px;

    margin: 20px 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(black, 0.3);
    border: 0;

    &:focus {
      border: none;
      outline: none;
    }
  }

  .unordered-list-element {
    position: absolute;
    visibility: hidden;
    background-color: white;
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
    padding: 6px 2px;
    width: 300px;
    margin-left: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(black, 0.3);
    border: 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 8px;
        &:hover {
          background-color: hsl(180, 14%, 97%); //twitters!
        }

        a {
          margin: 2px 0;
          color:hsl(203, 89%, 53%);
          text-decoration: none;
        }
      }
    }
  }
}

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}
